MyClient/UserGUI/Connected Services/BrokerReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CoinList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coin" nillable="true" type="tns:Coin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoinList" nillable="true" type="tns:CoinList" />
  <xs:complexType name="Coin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Coin" nillable="true" type="tns:Coin" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="LogList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Log" nillable="true" type="tns:Log" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogList" nillable="true" type="tns:LogList" />
  <xs:complexType name="Log">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PAndl" type="xs:float" />
          <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Log" nillable="true" type="tns:Log" />
  <xs:complexType name="OrderHistoryList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderHistory" nillable="true" type="tns:OrderHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHistoryList" nillable="true" type="tns:OrderHistoryList" />
  <xs:complexType name="OrderHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClosingTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FillPrice" type="xs:float" />
          <xs:element minOccurs="0" name="Placingtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Price" type="xs:float" />
          <xs:element minOccurs="0" name="Qty" type="xs:float" />
          <xs:element minOccurs="0" name="Side" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderHistory" nillable="true" type="tns:OrderHistory" />
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="MyCoinList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyCoin" nillable="true" type="tns:MyCoin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyCoinList" nillable="true" type="tns:MyCoinList" />
  <xs:complexType name="MyCoin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Coin" nillable="true" type="tns:Coin" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MyCoin" nillable="true" type="tns:MyCoin" />
</xs:schema>